{% extends 'core/base.html' %}

{% block content %}

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de servicios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/bootstrap-datepicker.min.css' %}">
    <script src="{% static 'js/nuevo_servicio.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'styles/bootstrap-combined.min.css' %}"></script>
    <script type="text/javascript">
        function agrega_comentario(){
           var contador_comentario = parseInt($("#control_comentarios").val())+1;
           var f = new Date();
           var hoy = f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear();
           var new_control = '<tr>';
            new_control += '<td><input type="text" value="'+hoy+'" name = "fecha_'+contador_comentario+'" id = "fecha_'+contador_comentario+'" disabled></td>';
            new_control += '<td><textarea name="comentario_'+contador_comentario+'" id = "comentario_'+contador_comentario+'"></textarea></td>';
            new_control += '<td><button>Borrar</button></td>';
            new_control += '</tr>'; 
    
            $("#tabla_comentarios tbody").append(new_control); 
            $("#control_comentarios").val(contador_comentario);
            console.log(contador_comentario)
        };
        function agrega_honorario(){
            var contador_honorario = parseInt($("#control_honorarios").val())+1;
            var new_control = '<tr>';
                new_control += '<td><input type ="text" id="razon_'+contador_honorario+'" name="razon_'+contador_honorario+'"></td>';
                new_control += '<td><input type ="text" id="monto_'+contador_honorario+'" name="monto_'+contador_honorario+'"></td>';
                new_control += '<td><button>Borrar</button></td>';
                new_control += '</tr>';

                $("#tabla_honorarios tbody").append(new_control);
                $("#control_honorarios").val(contador_honorario);
                console.log(contador_honorario)
        };

        $.fn.datepicker.defaults.format = "dd/mm/yyyy";
        $('.date').datepicker({
            autoclose:true,
            clearBtn:true,
            container:'.datepicker',
            //format:'dd-mm-yyyy',
            todayHighlight:true,
        });
    </script>
</head>


<br>
<br>
<div align="center">
<h2>Editar Servicio</h2>

{{error}}
<br>
<br>

<form action="" method="POST" enctype="multipart/form-data" onSubmit="return confirm('¿Seguro que quiere guardar este servicio?')">

    {% csrf_token %}
    <br>
    <div>
    <table>
        <tr>
            <th>
               <h4>Servicio</h4> 
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>
                <h4>Fechas</h4>
            </th>
            <th>

            </th>
        </tr>
        <tr>
            <td>
                M2 Construcción
            </td>
            <td>
                <div class="border-1 p-4">
                    <input type="text" name="m2c" id="id_m2c">
                </div>
            </td>
            <td>

            </td>
            <td>
    
            </td>
            <td>
                Cotización
            </td>
            <td>
              <div class="datepicker input-group date position-relative border-1 p-4">
                <input type="text" name="dtsolicitud" id="id_dtsolicitud" class="form-control" data-provide="datepicker">
                <input type="hidden" name="dtcreate" id="id_dtcreate">
               </div>
            </td>
        </tr>
        <tr>
            <td>
                
                M2 Terreno
            </td>
            <td>
                <div class="border-1 p-4">
                    <input type="text" name="m2t" id="id_m2t">
                </div>
            </td>
            <td>

            </td>
            <td>

            </td>
            
            <td>
                Visita
            </td>
            <td>
              <div class="datepicker input-group date position-relative border-1 p-4">
                <input type="text" name="dtvaluador" id="id_dtvaluador" class="form-control" data-provide="datepicker">
               </div>
            </td>
        </tr>
        <tr>
            <td>
                Valor del  Servicio
            </td>
            <td>
                <div class="border-1 p-4">
                    <input type="text" name="valor" id="id_valor">
                </div>
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>
                Cobro
            </td>
            <td>
              <div class="datepicker input-group date position-relative border-1 p-4">
                <input type="text" name="dtcobro" id="id_dtcobro" class="form-control" data-provide="datepicker">
              </div>
            </td>
            
            
        </tr>
        <tr>
            <td>
                Número de factura
            </td>
            <td>
                <div class="border-1 p-4">
                {{ AvaluoForm.nofactura }}
                </div>
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>
                Pago
            </td>
            <td>
              <div class="datepicker input-group date position-relative border-1 p-4">
                <input type="text" name="dtpago" id="id_dtpago" class="form-control" data-provide="datepicker">
              </div>
            </td>
            
        </tr>
        <tr>
            <td>
                Importe facturado
            </td>
            <td>
                <div class="border-1 p-4">
                {{ AvaluoForm.monto }}
                </div>
            </td>
            <td></td>
            <td></td>
            <td>
                Cliente
            </td>
            <td>
              <div class="datepicker input-group date position-relative border-1 p-4">
                <input type="text" name="dtcliente" id="id_dtcliente" class="form-control" data-provide="datepicker">
               </div>
            </td>
            </td>
        </tr>
        <tr>
            <td>
                Edad
            </td>
            <td>
                <div class="border-1 p-4">
                {{ AvaluoForm.edad }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Tipo de servicio
                
            </td>
            
            <td name="" id=""><div class="border-1 p-4"><select name="tipo" required id="id_tipo"></select></div> </div></td>
            <td></td>
            <td id="tipodictamen">
                    
            </td>
            <td></td>
            <td id="tipoproyecto">
                
            </td>
        </tr>
        <tr>
            <td>
                Cliente del servicio
            </td>
            <td>
                <div class="border-1 p-4"><select name="cliente" required id="id_cliente"></select></div>
            </td>
        </tr>
        <tr>
            <td>
                Valuador a cargo
            </td>
            <td>
                <div class="border-1 p-4"><select name="valuador" required id="id_valuador"></select></div>
            </td>
            
        </tr>
        <tr>
            <td>
                Estatus
            </td>
            <td>
                <div class="border-1 p-4"><select name="estatus" required id="id_estatus"></select></div>
            </td>
        </tr>
        <tr>
            <td>
                Tipo de Inmueble
            </td>
            <td>
                <div class="border-1 p-4"><select name="tipoimb" required id="id_tipoimb"></select></div>
            </td>
        </tr>
    </table>
    </div>
    
    <div>

    </div>
    <br>

    <table>
        <tr>
            <th>
                <h4>Ubicación</h4>
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
        <tr>
            <td>
                <hr>
            </td>
            <td>
                <hr>
            </td>
            <td>
                <hr>
            </td>
            <td>
                <hr>
            </td>
        </tr>
        <tr>
            <td>
                Estado:
            </td>
            <td>
                <select name="" id="cboEstado"><option value="indef">Indefinido</option></select>
            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>

            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                Municipio:
            </td>
            <td>
                <select name="" id="cboMunicipio"><option value="indef">Indefinido</option></select>
            </td>
            <td>

            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>

            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                Colonia:
            </td>
            <td>
                <select name="colonia" required id="id_colonia"><option value="indef">Indefinido</option></select>
                <br>
            </td>
            <td>

            </td>
            <td>
                
            </td>

        </tr>
        <tr>
            <td>
                <hr>
            </td>
            <td>
                <hr>
            </td>
            <td>
                <hr>
            </td>
            <td>
                <hr>
            </td>
        </tr>
        <tr>
            <td>
                Calle:
            </td>
            <td>
                <div class="border-1 p-4">
                    {{ AvaluoForm.calle }}
                </div>
            </td>
            <td>
                Número exterior: 
            </td>
            <td>
                <div class="border-1 p-4">
                    {{ AvaluoForm.numero }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Entre Calle (1):
            </td>
            <td>
                <div class="border-1 p-4">
                    {{ AvaluoForm.entrecalle1 }}
                </div>
            </td>
            <td>
                Número interior: 
            </td>
            <td>
                <div class="border-1 p-4">
                    {{ AvaluoForm.numeroint }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Entre Calle (2):
            </td>
            <td>
                <div class="border-1 p-4">
                    {{ AvaluoForm.entrecalle2 }}
                </div>
            </td>
            <td>
                Manzana: 
            </td>
            <td>
                <div class="border-1 p-4">
                    {{ AvaluoForm.manzana }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                
            </td>
            <td>
                Lote: 
            </td>
            <td>
                <div class="border-1 p-4">
                    {{ AvaluoForm.lote }}
                </div>
            </td>
        </tr>

    </table>

   
      <br>
    <div>
      <p>¿Quiere ingresar una colonia que no está registrada? <a href="{% url 'nueva_colonia' %}">Agregar colonia</a></p>
      
    <br>
    </div>

    <div id="contenedor_cometarios">
        
        <table id="tabla_comentarios" name="tabla_comentarios">
            <tr><th colspan="3">COMENTARIOS</th></tr>
            <tr><th>Fecha</th><th>Comentario</th><th>Borrar</th></tr>   

        </table>
        
        <input type="button" id="agregar_comentario" name="agregar_comentario" onclick="agrega_comentario()" value="Agregar" />
        <input type="hidden" id="control_comentarios" name="control_comentarios" value="0">
    </div>

    <div id="contenedor_honorarios">
        <table id="tabla_honorarios" name="tabla_honorarios">
            <tr><th>HONORARIOS</th></tr>
            <tr><th>Razón Social</th><th>Monto</th><th>Borrar</th></tr>
        </table>
        <input type="button" id="agregar_honorario" name="agregar_honorario" onclick="agrega_honorario()" value="Agregar" />
        <input type="hidden" id="control_honorarios" name="control_honorarios" value="0">
    </div>


    <div id="imagen" name="imagen">
        <table id="tabla_imagenes" name="tabla_imagenes">
            <tr>
                <td>
                    <label>Imagen</label>
                    {{ AvaluoForm.imagen }}
                </td>
            </tr>
        </table>

    </div>


    <button>
        Guardar
    </button>


    </form>

  <br>
  <br>

    </div>
{% endblock %}


