{% extends 'core/base.html' %}

{% block content %}

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de servicios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/bootstrap-datepicker.min.css' %}">
    <script src="{% static 'js/nuevo_servicio.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'styles/bootstrap-combined.min.css' %}"></script>

</head>

<br>
<br>
<div align="center">
<h1>Editar Avalúo</h1>

{{error}}

<form action="nuevo_avaluo" method="POST">

    {% csrf_token %}
    <br>
    <div>
    <h4>Servicio</h4>
       <!--<p> M2 Construcción {{ AvaluoForm.m2c }}</p> 
        <p>M2 Terreno {{ AvaluoForm.m2t }}</p>
        <p>Valor del  Servicio {{ AvaluoForm.valor }}</p>
        <p>Número de factura {{ AvaluoForm.nofactura }}</p>
        <p>Importe facturado {{ AvaluoForm.monto }}</p>
        <p>Edad {{ AvaluoForm.edad }}</p>-->
        <p>Tipo de servicio {{ AvaluoForm.tipo }}</p>
        <p>Cliente del servicio {{ AvaluoForm.cliente }}</p>
        <p>Valuador a cargo {{ AvaluoForm.valuador }}</p>
        <p>Estatus {{ AvaluoForm.estatus }}</p>
        <p>Tipo de Inmueble {{ AvaluoForm.tipoimbid }}</p>
    </div>
    <div>
    <h4>Fechas</h4>
        

        <table>
            <tr>
              <td>
                  Solicitud 
              </td>
              <td>
                <div class="datepicker input-group date position-relative border-1 p-4">
                  <input type="text" name="dtsolicitud" id="id_dtsolicitud" class="form-control" data-provide="datepicker">
                  
                 </div>
              </td>

            </tr>
            
            <tr>
              <td>
                  Valuador
              </td>
              <td>
                <div class="datepicker input-group date position-relative border-1 p-4">
                  <input type="text" name="dtvaluador" id="id_dtvaluador" class="form-control" data-provide="datepicker">
                 </div>
              </td>

            </tr>

            <tr>
              <td>
                  Cliente
              </td>
              <td>
                <div class="datepicker input-group date position-relative border-1 p-4">
                  <input type="text" name="dtcliente" id="id_dtcliente" class="form-control" data-provide="datepicker">
                 </div>
              </td>


            <tr>
              <td>
                  Cobro
              </td>
              <td>
                <div class="datepicker input-group date position-relative border-1 p-4">
                  <input type="text" name="dtcobro" id="id_dtcobro" class="form-control" data-provide="datepicker">
                </div>
              </td>

            </tr>
          </table>

       <!-- <p>Valuador {{ AvaluoForm.dtvaluador }}</p>
        <p>Entrega cliente {{ AvaluoForm.dtcliente }}</p>
        <p>Cobro Cliente {{ AvaluoForm.dtcobro }}</p>-->
    </div>
    <div class="col-md-4">
        <h4>Ubicación</h4>
        <p>Estado: <select name="" id="cboEstado"></select></p>
        <p>Municipio: <select name="" id="cboMunicipio"><option value="indef">Indefinido</option></select></p>
        <p>Colonia: {{ AvaluoForm.colonia }}<!--<select name="colonia" required id="id_colonia"><option value="indef">Indefinido</option></select>--></p>
    </div>
   
      
    
    <button>
        Guardar
    </button>
    <br>
    <br>

    </form>

  

    </div>
{% endblock %}


<script>
    $.fn.datepicker.defaults.format = "yyyy-mm-dd";
    $('#datepicker').datepicker({
        autoclose:true,
        clearBtn:true,
        container:'.datepicker',
        //format:'yyyy-mm-dd',
        todayHighlight:true,
    });
</script>