{% extends 'core/base.html' %}

{% block content %}

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de servicios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/bootstrap-datepicker.min.css' %}">
    <script src="{% static 'js/servicios.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'styles/bootstrap-combined.min.css' %}"></script>

</head>

    



    <div class="container">

        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" data-toggle="tab" href="#caracteristicas">Características</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#fechas">Fechas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#informacion">Información</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#fichas">Generar Fichas</a>
          </li>
        </ul>
        
        <div class="tab-content">
          <div class="tab-pane fade active show" id="caracteristicas">
            <br>
            <h3>Control de Servicios</h3>
            <br>
            <div class="col-md-4">
                <h4>Características</h4>
                <p>Clientes: <select name="" id="cboCliente"></select></p>
                <p>Tipos: <select name="" id="cboTipo"></select></p>
                <p>Valuadores: <select name="" id="cboValuador"></select></p>
                <p>Estatus: <select name="" id="cboEstatus"></select></p>
            </div>
            <br>
            <div class="col-md-4">
            <h4>Ubicación</h4>
            <p>Estado: <select name="" id="cboEstado"></select></p>
            <p>Municipio: <select name="" id="cboMunicipio"></select></p>
            <p>Colonia: <select name="" id="cboColonia"></select></p>
            </div>
            <a href="{% url 'nuevo_avaluo' %}">Nuevo avaluo</a>
          </div>
          


          <div class="tab-pane" id="fechas">
            <br>
            <h4>Fechas</h4>
            <br>
            <table>
              <tr>
                <td>
                    Solicitud 
                </td>
                <td>
                  <div class="datepicker input-group date position-relative border-1 p-4">
                    <input type="text" id="dtsolicitud_inicial" class="form-control" data-provide="datepicker">
                    
                   </div>
                </td>
                <td>
                    a  
                </td>
                <td>
                  <div class="datepicker position-relative border-1 p-4">
                    <input type="text" id="dtsolicitud_final" class="form-control" data-provide="datepicker">
                   </div>
                </td>
              </tr>
              
              <tr>
                <td>
                    Entrega cliente
                </td>
                <td>
                  <div class="datepicker input-group date position-relative border-1 p-4">
                    <input type="text" id="dtcliente_inicial" class="form-control" data-provide="datepicker">
                   </div>
                </td>
                <td>
                    a  
                </td>
                <td>
                  <div class="datepicker position-relative border-1 p-4">
                    <input type="text" id="dtcliente_final" class="form-control" data-provide="datepicker">
                   </div>
                </td>
              </tr>

              <tr>
                <td>
                    Entrega valuador 
                </td>
                <td>
                  <div class="datepicker input-group date position-relative border-1 p-4">
                    <input type="text" id="dtvaluador_inicial" class="form-control" data-provide="datepicker">
                   </div>
                </td>
                <td>
                    a  
                </td>
                <td>
                  <div class="datepicker position-relative border-1 p-4">
                    <input type="text" id="dtvaluador_final" class="form-control" data-provide="datepicker">
                   </div>
                </td>
              </tr>

              <tr>
                <td>
                    Cobro
                </td>
                <td>
                  <div class="datepicker input-group date position-relative border-1 p-4">
                    <input type="text" id="dtcobro_inicial" class="form-control" data-provide="datepicker">
                   </div>
                </td>
                <td>
                    a  
                </td>
                <td>
                  <div class="datepicker position-relative border-1 p-4">
                    <input type="text" id="dtcobro_final" class="form-control" data-provide="datepicker">
                   </div>
                </td>
              </tr>
            </table>
            <a href="{% url 'nuevo_avaluo' %}">Nuevo avaluo</a>
          </div> 

          
          <!--<input type="text" class="" data-provide="datepicker">
          <div class="tab-pane" id="fechas">
            <div class="input-group date" data-provide="datepicker">
              <input type="text" class="form-control">
                <div class="input-group-addon">
                    
                </div>
            </div>
          </div>-->
        
          <br>
          <div class="tab-pane fade" id="informacion">
            <table class="table">
              <tr>
                <td colspan="3" scope="col">Conteo de tipos de servicio</td>
              </tr>
              {% for i in conteo_tipo_servicio %}
                {% if i.tipoid != 0 %}
                <tr>
                  <td scope="row">{{ i.display }}</td>
                  <td scope="row">{{ i.descripcion }}</td>
                  <td scope="row">{{ i.consecutivo }}</td>
                </tr>
                {% endif %}
              {% endfor %}
                
              </tr>
            </table>

            <table class="table">
                <tr>
                  <td colspan="3" scope="col">Conteo de avalúos por mes</td>
                </tr>
                {% for i in avaluos_por_mes %}
                  <tr>
                    <td scope="row">{{ i.anho }}</td>
                    <td scope="row">{{ i.mes }}</td>
                    <td scope="row">{{ i.numero }}</td>
                  </tr>
                {% endfor %}
                  
                </tr>
              </table>
              <a href="{% url 'nuevo_avaluo' %}">Nuevo avaluo</a>
          </div> 

          <div class="tab-pane fade" id="fichas">
            <br>
            <a class="" id="generar_fichas" href="">Generar fichas</a>
            <br>
            <a href="{% url 'nuevo_avaluo' %}">Nuevo avaluo</a>
          </div>
        </div>
      
        <br>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ubicación</th>
                    <th>Fechas</th>
                    <th>Cliente</th>
                    <th>Valuador</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody id="cboTabla">
                          
            </tbody>
        </table>
      </div>


<script>
$(".nav a").on("click", function(){
    $(".nav a").removeClass("nav-link active");
    $(".nav a").addClass("nav-link");
    $(this).addClass("nav-link active");
    elemento = $(this).attr('href');
    $("#caracteristicas").removeClass();
    $("#caracteristicas").addClass("tab-pane fade");
    $("#fechas").removeClass();
    $("#fechas").addClass("tab-pane fade");
    $("#informacion").removeClass();
    $("#informacion").addClass("tab-pane fade");
    $("#fichas").removeClass();
    $("#fichas").addClass("tab-pane fade");
    $(elemento).removeClass();
    $(elemento).addClass("tab-pane fade active show");
    $.fn.datepicker.defaults.format = "yyyy-mm-dd";
    $('#datepicker').datepicker({
        autoclose:true,
        clearBtn:true,
        container:'.datepicker',
        //format:'yyyy-mm-dd',
        todayHighlight:true,
    });

    $('#dtsolicitud_inicial').datepicker().on('changeDate', function (event) {
    parametros_fechas.dtsolicitud_inicial = event.format();
    console.log(event.format());
    });

    $('#dtsolicitud_final').datepicker().on('changeDate', function (event) {
    parametros_fechas.dtsolicitud_final = event.format();
    mostrarTabla_porfechas(parametros_fechas.dtsolicitud_inicial,parametros_fechas.dtsolicitud_final,parametros_fechas.dtcliente_inicial,parametros_fechas.dtcliente_final,parametros_fechas.dtvaluador_inicial,parametros_fechas.dtvaluador_final,parametros_fechas.dtcobro_inicial,parametros_fechas.dtcobro_final);

    console.log(event.format());
    });

    $('#dtvaluador_inicial').datepicker().on('changeDate', function (event) {
    parametros_fechas.dtvaluador_inicial = event.format();
    console.log(event.format());
    });

    $('#dtvaluador_final').datepicker().on('changeDate', function (event) {
    parametros_fechas.dtvaluador_final = event.format();
    mostrarTabla_porfechas(parametros_fechas.dtsolicitud_inicial,parametros_fechas.dtsolicitud_final,parametros_fechas.dtcliente_inicial,parametros_fechas.dtcliente_final,parametros_fechas.dtvaluador_inicial,parametros_fechas.dtvaluador_final,parametros_fechas.dtcobro_inicial,parametros_fechas.dtcobro_final);

    console.log(event.format());
    });

    $('#dtcliente_inicial').datepicker().on('changeDate', function (event) {
    parametros_fechas.dtcliente_inicial = event.format();
    console.log(event.format());
    });
    $('#dtcliente_final').datepicker().on('changeDate', function (event) {
    parametros_fechas.dtcliente_final = event.format();
    mostrarTabla_porfechas(parametros_fechas.dtsolicitud_inicial,parametros_fechas.dtsolicitud_final,parametros_fechas.dtcliente_inicial,parametros_fechas.dtcliente_final,parametros_fechas.dtvaluador_inicial,parametros_fechas.dtvaluador_final,parametros_fechas.dtcobro_inicial,parametros_fechas.dtcobro_final);

    console.log(event.format());
    });

    $('#dtcobro_inicial').datepicker().on('changeDate', function (event) {
    parametros_fechas.dtcobro_inicial = event.format();
    console.log(event.format());
    });
    $('#dtcobro_final').datepicker().on('changeDate', function (event) {
    parametros_fechas.dtcobro_final = event.format();
    mostrarTabla_porfechas(parametros_fechas.dtsolicitud_inicial,parametros_fechas.dtsolicitud_final,parametros_fechas.dtcliente_inicial,parametros_fechas.dtcliente_final,parametros_fechas.dtvaluador_inicial,parametros_fechas.dtvaluador_final,parametros_fechas.dtcobro_inicial,parametros_fechas.dtcobro_final);

    console.log(event.format());
    });
    $('#generar_fichas').on('click', function () {
      alert("PDF generado exitosamente")
    });
    
    
  });
  </script>

    {% endblock %}


    