{% extends 'core/base.html' %}

{% block content %}

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de servicios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/bootstrap-datepicker.min.css' %}">
    <script src="{% static 'js/servicios.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'styles/bootstrap-combined.min.css' %}"></script>

    <style>
      .PagGeneral {
          display: none;
      };
      #cboTabla {
        display: none;
      }
  </style>
</head>

    <div class="container">

        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" data-toggle="tab" href="#caracteristicas">Características</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#fechas">Fechas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#informacion">Información</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#fichas">Generar Fichas</a>
          </li>
        </ul>
        
        <div class="tab-content">
          <div class="tab-pane fade active show" id="caracteristicas">
            <br>
            <h3>Control de Servicios</h3>
            <br>
            <div class="col-md-4">
                <h4>Características</h4>
                <p>Clientes: <select name="" id="cboCliente"></select></p>
                <p>Tipos: <select name="" id="cboTipo"></select></p>
                <p>Valuadores: <select name="" id="cboValuador"></select></p>
                <p>Estatus: <select name="" id="cboEstatus"></select></p>
            </div>
            <br>
            <div class="col-md-4">
            <h4>Ubicación</h4>
            <p>Estado: <select name="" id="cboEstado"></select></p>
            <p>Municipio: <select name="" id="cboMunicipio"></select></p>
            <p>Colonia: <select name="" id="cboColonia"></select></p>
            </div>
          </div>
          


          <div class="tab-pane" id="fechas">
            <br>
            <h4>Fechas</h4>
            <br>
            <table>
              <tr>
                <td>
                    Alta 
                </td>
                <td>
                  <div class="datepicker input-group date position-relative border-1 p-4">
                    <input type="text" id="dtcreate_inicial" class="form-control" data-provide="datepicker">
                    
                   </div>
                </td>
                <td>
                    a  
                </td>
                <td>
                  <div class="datepicker position-relative border-1 p-4">
                    <input type="text" id="dtcreate_final" class="form-control" data-provide="datepicker">
                   </div>
                </td>
              </tr>
              <tr>
                <td>
                    Solicitud 
                </td>
                <td>
                  <div class="datepicker input-group date position-relative border-1 p-4">
                    <input type="text" id="dtsolicitud_inicial" class="form-control" data-provide="datepicker">
                    
                   </div>
                </td>
                <td>
                    a  
                </td>
                <td>
                  <div class="datepicker position-relative border-1 p-4">
                    <input type="text" id="dtsolicitud_final" class="form-control" data-provide="datepicker">
                   </div>
                </td>
              </tr>
              
              <tr>
                <td>
                    Entrega cliente
                </td>
                <td>
                  <div class="datepicker input-group date position-relative border-1 p-4">
                    <input type="text" id="dtcliente_inicial" class="form-control" data-provide="datepicker">
                   </div>
                </td>
                <td>
                    a  
                </td>
                <td>
                  <div class="datepicker position-relative border-1 p-4">
                    <input type="text" id="dtcliente_final" class="form-control" data-provide="datepicker">
                   </div>
                </td>
              </tr>

              <tr>
                <td>
                    Entrega valuador 
                </td>
                <td>
                  <div class="datepicker input-group date position-relative border-1 p-4">
                    <input type="text" id="dtvaluador_inicial" class="form-control" data-provide="datepicker">
                   </div>
                </td>
                <td>
                    a  
                </td>
                <td>
                  <div class="datepicker position-relative border-1 p-4">
                    <input type="text" id="dtvaluador_final" class="form-control" data-provide="datepicker">
                   </div>
                </td>
              </tr>

              <tr>
                <td>
                    Cobro
                </td>
                <td>
                  <div class="datepicker input-group date position-relative border-1 p-4">
                    <input type="text" id="dtcobro_inicial" class="form-control" data-provide="datepicker">
                  </div>
                </td>
                <td>
                    a  
                </td>
                <td>
                  <div class="datepicker position-relative border-1 p-4">
                    <input type="text" id="dtcobro_final" class="form-control" data-provide="datepicker">
                   </div>
                </td>
              </tr>
              <tr>
                <td>
                    Pago
                </td>
                <td>
                  <div class="datepicker input-group date position-relative border-1 p-4">
                    <input type="text" id="dtpago_inicial" class="form-control" data-provide="datepicker">
                  </div>
                </td>
                <td>
                    a  
                </td>
                <td>
                  <div class="datepicker position-relative border-1 p-4">
                    <input type="text" id="dtpago_final" class="form-control" data-provide="datepicker">
                   </div>
                </td>
              </tr>
            </table>
          </div> 

          
          <!--<input type="text" class="" data-provide="datepicker">
          <div class="tab-pane" id="fechas">
            <div class="input-group date" data-provide="datepicker">
              <input type="text" class="form-control">
                <div class="input-group-addon">
                    
                </div>
            </div>
          </div>-->
        
          <br>
          <div class="tab-pane fade" id="informacion">
            <table class="table">
              <tr>
                <td colspan="3" scope="col">Conteo de tipos de servicio</td>
              </tr>
              {% for i in conteo_tipo_servicio %}
                {% if i.tipoid != 0 %}
                <tr>
                  <td scope="row">{{ i.display }}</td>
                  <td scope="row">{{ i.descripcion }}</td>
                  <td scope="row">{{ i.consecutivo }}</td>
                </tr>
                {% endif %}
              {% endfor %}
                
              </tr>
            </table>

            <table class="table">
                <tr>
                  <td colspan="3" scope="col">Conteo de servicios por mes</td>
                </tr>
                {% for i in avaluos_por_mes %}
                  <tr>
                    <td scope="row">{{ i.anho }}</td>
                    <td scope="row">{{ i.mes }}</td>
                    <td scope="row">{{ i.numero }}</td>
                  </tr>
                {% endfor %}
                  
                </tr>
              </table>
          </div> 

          <div class="tab-pane fade" id="fichas">
            
            <a class="" id="GeneratePDFView" href="">Generar PDF</a>
            <br>
            <a class="" id="generar_excel" href="">Generar Excel</a>
            <br>
            <br>
          </div>
        </div>
      
        <br>

        
      <div class="PagGeneral">
        <nav aria-label="Page navigation example">
            <ul id="ul-parent" class="pagination">
                
        
        
       <!--{% if avaluos_pag.has_previous %}
        
        <li class="page-item"><a class="page-link" href="?page=1">&laquo Primera</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ avaluos_pag.previous_page_number }}">Anterior</a></li>
        
        
        {% else %}-->
        
        <li class="page-item"><a id="cboPagsPrimera" class="page-link disabled" href="">&laquo Primera</a></li>
        <li class="page-item"><a id="cboPagsAnterior"class="page-link disabled" href="">Anterior</a></li>
        
        <!--{% endif %}-->
        
        <!--<li class="page-item"><a class="page-link disabled" href="#">Página {{ avaluos_pag.number }} de {{ avaluos_pag.paginator.num_pages }}</a></li>-->
        
        <!--<li class="page-item"><a class="page-link"  id="cboPags" href="?page=10">prueba</a></li>  -->      

        {% for i in nums %}
        
        <li id="numpag{{ forloop.counter }}" class="page-item"><a class="page-link"  id="cboPags{{ forloop.counter }}" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
        
        {% endfor %}
        
        
        {% if avaluos_pag.has_next %}
        
        <li class="page-item"><a id="cboPagsSiguiente" class="page-link" href="?page={{ avaluos_pag.next_page_number }}">Siguiente</a></li>
        <li class="page-item"><a id="cboPagsUltima" class="page-link" href="?page={{ avaluos_pag.paginator.num_pages }}">Ultima &raquo</a></li>
        
        {% endif %}
        
        </ul>
        </nav>
      </div>

       <!--<table class="table table-striped table-hover">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Ubicación</th>
                  <th>Fechas</th>
                  <th>Cliente</th>
                  <th>Valuador</th>
                  <th>Estatus</th>
              </tr>
          </thead>
          <tbody >
              {% for avaluo in avaluos_pag %}
      
              <tr  id="{{ avaluos_pag.number }}">
                  <td>{{avaluo.id}}</td>
                  <td>{{avaluo.ubicacion}}</td>
                  <td>{{avaluo.fechas}}</td>
                  <td>{{avaluo.cliente}}</td>
                  <td>{{avaluo.valuador}}</td>
                  <td>{{avaluo.estatus}}</td>
              </tr>
              
              {% endfor %}
          </tbody>
      </table>-->

       <table id="cboTabla" class="table table-striped table-hover table-bordered">  

        </table>
        

        
        
      </div>

      <input id="prueba-pag" type="hidden"></input>

<script>
$(".nav a").on("click", function(){
    $(".nav a").removeClass("nav-link active");
    $(".nav a").addClass("nav-link");
    $(this).addClass("nav-link active");
    elemento = $(this).attr('href');
    $("#caracteristicas").removeClass();
    $("#caracteristicas").addClass("tab-pane fade");
    $("#fechas").removeClass();
    $("#fechas").addClass("tab-pane fade");
    $("#informacion").removeClass();
    $("#informacion").addClass("tab-pane fade");
    $("#fichas").removeClass();
    $("#fichas").addClass("tab-pane fade");
    $(elemento).removeClass();
    $(elemento).addClass("tab-pane fade active show");

    $.fn.datepicker.defaults.format = "dd/mm/yyyy";
    $('#datepicker').datepicker({
        autoclose:true,
        clearBtn:true,
        container:'.datepicker',
       // format:'dd/mm/yy',
        todayHighlight:true,
    });

    let pag = 1;

    $('#dtcreate_inicial').datepicker().on('changeDate', function (event) {
      parametros.dtcreate_inicial = event.format().slice(6,10) + '-' + event.format().slice(3,5) + '-' + event.format().slice(0,2);
      console.log(event.format());
      mostrarTabla(parametros.cliente_id,parametros.tipo_id,parametros.valuador_id,parametros.estatus_id,parametros.estado_id,parametros.municipio_id,parametros.colonia_id,parametros.dtcreate_inicial,parametros.dtcreate_final,parametros.dtsolicitud_inicial,parametros.dtsolicitud_final,parametros.dtcliente_inicial,parametros.dtcliente_final,parametros.dtvaluador_inicial,parametros.dtvaluador_final,parametros.dtcobro_inicial,parametros.dtcobro_final,parametros.dtpago_inicial,parametros.dtpago_final,pag);
  
      });
  
      $('#dtcreate_final').datepicker().on('changeDate', function (event) {
      parametros.dtcreate_final = event.format().slice(6,10) + '-' + event.format().slice(3,5) + '-' + event.format().slice(0,2);
      mostrarTabla(parametros.cliente_id,parametros.tipo_id,parametros.valuador_id,parametros.estatus_id,parametros.estado_id,parametros.municipio_id,parametros.colonia_id,parametros.dtcreate_inicial,parametros.dtcreate_final,parametros.dtsolicitud_inicial,parametros.dtsolicitud_final,parametros.dtcliente_inicial,parametros.dtcliente_final,parametros.dtvaluador_inicial,parametros.dtvaluador_final,parametros.dtcobro_inicial,parametros.dtcobro_final,parametros.dtpago_inicial,parametros.dtpago_final,pag);
  
      });

    $('#dtsolicitud_inicial').datepicker().on('changeDate', function (event) {
    parametros.dtsolicitud_inicial = event.format().slice(6,10) + '-' + event.format().slice(3,5) + '-' + event.format().slice(0,2);
    console.log(event.format());
    mostrarTabla(parametros.cliente_id,parametros.tipo_id,parametros.valuador_id,parametros.estatus_id,parametros.estado_id,parametros.municipio_id,parametros.colonia_id,parametros.dtcreate_inicial,parametros.dtcreate_final,parametros.dtsolicitud_inicial,parametros.dtsolicitud_final,parametros.dtcliente_inicial,parametros.dtcliente_final,parametros.dtvaluador_inicial,parametros.dtvaluador_final,parametros.dtcobro_inicial,parametros.dtcobro_final,parametros.dtpago_inicial,parametros.dtpago_final,pag);

    });

    $('#dtsolicitud_final').datepicker().on('changeDate', function (event) {
    parametros.dtsolicitud_final =event.format().slice(6,10) + '-' + event.format().slice(3,5) + '-' + event.format().slice(0,2);
    mostrarTabla(parametros.cliente_id,parametros.tipo_id,parametros.valuador_id,parametros.estatus_id,parametros.estado_id,parametros.municipio_id,parametros.colonia_id,parametros.dtcreate_inicial,parametros.dtcreate_final,parametros.dtsolicitud_inicial,parametros.dtsolicitud_final,parametros.dtcliente_inicial,parametros.dtcliente_final,parametros.dtvaluador_inicial,parametros.dtvaluador_final,parametros.dtcobro_inicial,parametros.dtcobro_final,parametros.dtpago_inicial,parametros.dtpago_final,pag);

    });

    $('#dtvaluador_inicial').datepicker().on('changeDate', function (event) {
    parametros.dtvaluador_inicial = event.format().slice(6,10) + '-' + event.format().slice(3,5) + '-' + event.format().slice(0,2);
    mostrarTabla(parametros.cliente_id,parametros.tipo_id,parametros.valuador_id,parametros.estatus_id,parametros.estado_id,parametros.municipio_id,parametros.colonia_id,parametros.dtcreate_inicial,parametros.dtcreate_final,parametros.dtsolicitud_inicial,parametros.dtsolicitud_final,parametros.dtcliente_inicial,parametros.dtcliente_final,parametros.dtvaluador_inicial,parametros.dtvaluador_final,parametros.dtcobro_inicial,parametros.dtcobro_final,parametros.dtpago_inicial,parametros.dtpago_final,pag);

    });

    $('#dtvaluador_final').datepicker().on('changeDate', function (event) {
    parametros.dtvaluador_final = event.format().slice(6,10) + '-' + event.format().slice(3,5) + '-' + event.format().slice(0,2);
    mostrarTabla(parametros.cliente_id,parametros.tipo_id,parametros.valuador_id,parametros.estatus_id,parametros.estado_id,parametros.municipio_id,parametros.colonia_id,parametros.dtcreate_inicial,parametros.dtcreate_final,parametros.dtsolicitud_inicial,parametros.dtsolicitud_final,parametros.dtcliente_inicial,parametros.dtcliente_final,parametros.dtvaluador_inicial,parametros.dtvaluador_final,parametros.dtcobro_inicial,parametros.dtcobro_final,parametros.dtpago_inicial,parametros.dtpago_final,pag);
    });

    $('#dtcliente_inicial').datepicker().on('changeDate', function (event) {
    parametros.dtcliente_inicial = event.format().slice(6,10) + '-' + event.format().slice(3,5) + '-' + event.format().slice(0,2);
    mostrarTabla(parametros.cliente_id,parametros.tipo_id,parametros.valuador_id,parametros.estatus_id,parametros.estado_id,parametros.municipio_id,parametros.colonia_id,parametros.dtcreate_inicial,parametros.dtcreate_final,parametros.dtsolicitud_inicial,parametros.dtsolicitud_final,parametros.dtcliente_inicial,parametros.dtcliente_final,parametros.dtvaluador_inicial,parametros.dtvaluador_final,parametros.dtcobro_inicial,parametros.dtcobro_final,parametros.dtpago_inicial,parametros.dtpago_final,pag);

    });
    $('#dtcliente_final').datepicker().on('changeDate', function (event) {
    parametros.dtcliente_final = event.format().slice(6,10) + '-' + event.format().slice(3,5) + '-' + event.format().slice(0,2);
    mostrarTabla(parametros.cliente_id,parametros.tipo_id,parametros.valuador_id,parametros.estatus_id,parametros.estado_id,parametros.municipio_id,parametros.colonia_id,parametros.dtcreate_inicial,parametros.dtcreate_final,parametros.dtsolicitud_inicial,parametros.dtsolicitud_final,parametros.dtcliente_inicial,parametros.dtcliente_final,parametros.dtvaluador_inicial,parametros.dtvaluador_final,parametros.dtcobro_inicial,parametros.dtcobro_final,parametros.dtpago_inicial,parametros.dtpago_final,pag);
    });

    $('#dtcobro_inicial').datepicker().on('changeDate', function (event) {
    parametros.dtcobro_inicial = event.format().slice(6,10) + '-' + event.format().slice(3,5) + '-' + event.format().slice(0,2);
    mostrarTabla(parametros.cliente_id,parametros.tipo_id,parametros.valuador_id,parametros.estatus_id,parametros.estado_id,parametros.municipio_id,parametros.colonia_id,parametros.dtcreate_inicial,parametros.dtcreate_final,parametros.dtsolicitud_inicial,parametros.dtsolicitud_final,parametros.dtcliente_inicial,parametros.dtcliente_final,parametros.dtvaluador_inicial,parametros.dtvaluador_final,parametros.dtcobro_inicial,parametros.dtcobro_final,parametros.dtpago_inicial,parametros.dtpago_final,pag);

    });
    $('#dtcobro_final').datepicker().on('changeDate', function (event) {
    parametros.dtcobro_final = event.format().slice(6,10) + '-' + event.format().slice(3,5) + '-' + event.format().slice(0,2);
    mostrarTabla(parametros.cliente_id,parametros.tipo_id,parametros.valuador_id,parametros.estatus_id,parametros.estado_id,parametros.municipio_id,parametros.colonia_id,parametros.dtcreate_inicial,parametros.dtcreate_final,parametros.dtsolicitud_inicial,parametros.dtsolicitud_final,parametros.dtcliente_inicial,parametros.dtcliente_final,parametros.dtvaluador_inicial,parametros.dtvaluador_final,parametros.dtcobro_inicial,parametros.dtcobro_final,parametros.dtpago_inicial,parametros.dtpago_final,pag);

    });
    $('#dtpago_inicial').datepicker().on('changeDate', function (event) {
      parametros.dtpago_inicial = event.format().slice(6,10) + '-' + event.format().slice(3,5) + '-' + event.format().slice(0,2);
      console.log(parametros.dtpago_inicial)
      mostrarTabla(parametros.cliente_id,parametros.tipo_id,parametros.valuador_id,parametros.estatus_id,parametros.estado_id,parametros.municipio_id,parametros.colonia_id,parametros.dtcreate_inicial,parametros.dtcreate_final,parametros.dtsolicitud_inicial,parametros.dtsolicitud_final,parametros.dtcliente_inicial,parametros.dtcliente_final,parametros.dtvaluador_inicial,parametros.dtvaluador_final,parametros.dtcobro_inicial,parametros.dtcobro_final,parametros.dtpago_inicial,parametros.dtpago_final,pag);
  
      });
      $('#dtpago_final').datepicker().on('changeDate', function (event) {
      parametros.dtpago_final = event.format().slice(6,10) + '-' + event.format().slice(3,5) + '-' + event.format().slice(0,2);
      mostrarTabla(parametros.cliente_id,parametros.tipo_id,parametros.valuador_id,parametros.estatus_id,parametros.estado_id,parametros.municipio_id,parametros.colonia_id,parametros.dtcreate_inicial,parametros.dtcreate_final,parametros.dtsolicitud_inicial,parametros.dtsolicitud_final,parametros.dtcliente_inicial,parametros.dtcliente_final,parametros.dtvaluador_inicial,parametros.dtvaluador_final,parametros.dtcobro_inicial,parametros.dtcobro_final,parametros.dtpago_inicial,parametros.dtpago_final,pag);
  
      });
   // $('#GeneratePDFView').on('click', function () {
   //   alert("Archivo generado exitosamente");
   //   
   // });
   // $('#generar_excel').on('click', function () {
   //   alert("Archivo generado exitosamente");
   //});
    
    
});

  </script>



    {% endblock %}


    